{% extends 'base.html.twig' %}

{% block title %}Accès{% endblock %}

{% block body %}

<h1 class="text-light text-center mb-4">Plan D'acces</h1>


<div class="container border border-light bg-dark rounded col-6 text-light mb-3 py-3">
    <p><strong class="text-warning">Adresse :</strong> HOTEL Fortuna , 149 Avenue Gallieni, 93170 Bagnolet</p>
    <p><strong class="text-warning">En métro :</strong> Vous pouvez prendre la ligne 3 du métro et descendre à la station "Gallieni". L'école se trouve à quelques minutes à pied de la station.</p>
    <p><strong class="text-warning">En bus :</strong> Les lignes de bus 76, 102, 115, 122 et 318 desservent l'arrêt "Gallieni - Bagnolet" qui est situé à proximité de l'école.</p>
    <p><strong class="text-warning">En tramway :</strong> Le tramway T3b dessert l'arrêt "Porte de Bagnolet" qui se trouve à environ 10 minutes de marche de l'école.</p>
    <p><strong class="text-warning">En voiture :</strong> Si vous venez en voiture, vous pouvez utiliser les autoroutes A3 ou A86 selon votre provenance. L'école dispose d'un parking pour les étudiants.</p>
    <p><strong class="text-warning">En vélo :</strong> Il est possible de se rendre à l'école en utilisant les pistes cyclables disponibles dans la région. Il y a également des stations de vélos en libre-service à proximité.</p>
    <p>N'oubliez pas de vérifier les horaires et les itinéraires des transports en commun, car ils peuvent varier.</p>
</div>

<div class="text-center my-5">
<h2 class="text-light text-center mb-4">Carte</h2>
<iframe class="carte" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5610.448081237521!2d2.409609623820435!3d48.859415268708496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66ddba8748817%3A0x68c3d9daf1136409!2sDORANCO%20%C3%89cole%20Sup&#39;%20des%20Tech%20Cr%C3%A9atives%20%7C%20CAMPUS%20PARIS%20GALLIENI!5e0!3m2!1sfr!2sfr!4v1687783925483!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
