{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1 class="text-center my-3 text-light">Create new Commande</h1>
    <div class="container col-6">
        {{ include('commande/_form.html.twig') }}
    </div>

{% endblock %}
